<div class="container-fluid position-fixed d-none d-lg-none d-md-inline d-sm-inline">
    <div class="row flex-nowrap">
    <div class="col-auto ml-0 col-2 px-2 bg-dark min-vh-100">
    <a href="{{ path('homepage') }}" class="d-inline text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
        <i class="fa-solid fa-umbrella"></i>
        <span class="visually-hidden">Titre de l'application</span>
    </a>
    <hr>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        {% for menu in menulist %}
        <li class="nav-item">
            <a href="{{ path(menu.link) }}" class="nav-link {{ app.request.get('_route') == menu.link ? 'active' : 'text-white' }}"
               title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="{{ menu.title }}">
                <i class="{{ menu.icon }} fa-xl"></i>
                <use xlink:href="{{ path(menu.link) }}"></use>
            </a>
        </li>
        {% endfor %}
    </ul>
        <hr>
</div>
    </div>
</div>
