<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ app_title }} - {% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/d20-white.svg') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('library/Fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('library/Bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('library/AdminLTE/adminlte.min.css') }}">
    <link rel="stylesheet" href="{{ asset('library/Select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/select2-fix.css') }}">

    {% block stylesheets %}
    {% endblock %}
</head>
<body class="layout-fixed sidebar-mini" data-datatable-Language="{{ asset('library/DataTable/fr-FR.json') }}">
{% block full_body %}
<div class="wrapper">
    {% block navbar %}
        {{ include('fragments/main-header.html.twig') }}
    {% endblock %}
    {% block sidebar %}
        {{ include('fragments/main-sidebar.html.twig') }}
    {% endblock %}
    <main class="content-wrapper">
        <div class="container-fluid">
            <div class="d-flex mb-4"></div>
            <div>
                {% block body %}
                {% endblock %}
            </div>
            <div class="d-flex mt-4"></div>
        </div>
    </main>{{ include('fragments/main-footer.html.twig') }}
</div>

<script type="text/javascript" src="{{ asset('asset/js/config.js') }}"></script>
<script type="text/javascript" src="{{ asset('library/jQuery/jquery-3.7.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('library/Fontawesome/js/all.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('library/Bootstrap/bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('library/AdminLTE/adminlte.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('library/Select2/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('asset/js/app.js') }}" defer="defer"></script>
{% block javascripts %}
{% endblock %}
</body>
{% endblock %}
</html>